PySide6==6.8.3
cerberus
humanize
psutil
pytz
pywin32
PyYAML
tzlocal
watchdog
winsdk
pycaw
winshell
pillow==11.1
qasync
requests
obs-websocket-py
pyvda
win11toast
python-dotenv
git+https://github.com/amnweb/screen_brightness_control.git
